/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,300,400,700);*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");

.paybright-class-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

#check-width {
  width: 400px;
}

/* Modal Content */
.paybright-class-modal-content {
  margin: auto;
  overflow: hidden;
  width: 520px;
  margin-bottom: 150px;
  border-radius: 10px !important;
  line-height: 0;
}

.paybright-class-modal-content h1 {
  font-size: 2em !important;
}
/* The Close Button */
.paybright-class-close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.paybright-class-close,
.paybright-class-close {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#img-quickandeasy {
  height: 100px;
}

#img-safeandsecure {
  height: 100px;
}

#paybright-learnmore {
  color: blue !important;
  text-decoration: underline !important;
  cursor: pointer;
}

#img-quickandeasy2 {
  height: 100px;
}

#img-safeandsecure2 {
  height: 100px;
}

#paybright-learnmore2 {
  color: blue !important;
  text-decoration: underline !important;
  cursor: pointer;
}

.paybright-float-left {
  float: left;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.paybright-float-right {
  float: right;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

table.pb-table {
  border-collapse: collapse;
  width: 100%;
}

.pb-table td,
.pb-table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 2px;
  font-size: 10px;
  line-height: 15px;
}

.paybright-flex {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Chrome */
  display: flex;
}

.paybright-flex-p {
  width: 50%;
  margin-right: 5%;
}

.pb-p {
  text-align: left;
}

.paybright-table {
  width: 100%;
  border-collapse: collapse !important;
}

.paybright-table,
.paybright-table td,
.paybright-table th {
  border: 1px solid black !important;
  background-color: white !important;
  padding: 5px !important;
}

.div-paybright-table {
  width: 45%;
}

.pb-right-20 {
  margin-right: 20px;
}

.pb-left-20 {
  margin-left: 20px;
}

/*NEW DESIGN CSS*/

#pb-container-fr {
  width: 425px;
  margin: 0 auto;
}

#pb-container {
  width: 375px;
  margin: 0 auto;
}

#img-instantdecision {
  /*width:65px;
    height:65px;*/
}

#img-easypayments {
  /*width: 65px;
    height: 65px;*/
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.pb-column-img {
  width: 20%;
  float: left;
  /*width: 33.33%;*/
  padding: 5px;
  padding-bottom: 0 !important;
}

.pb-column-img1 {
  width: 20%;
  float: left;
  /*width: 33.33%;*/
  padding: 5px;
  padding-top: 0 !important;
}

.pb-column-text {
  width: 74%;
  float: left;
  /*width: 33.33%;*/
  padding: 5px;
  margin-top: 5px;
}

.pb-column-text1 {
  width: 74%;
  float: left;
  /*width: 33.33%;*/
  padding: 5px;
  margin-top: 5px;
}

.pb-column-text-fr {
  width: 74%;
  float: left;
  /*width: 33.33%;*/
  padding: 5px;
  margin-top: 15px;
}

.pb-column-text1-fr {
  width: 74%;
  float: left;
  /*width: 33.33%;*/
  padding: 5px;
  margin-top: 13px;
}
.pb-column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.pb-row::after,
.pb-row1::after {
  content: "";
  clear: both;
  display: table;
}

.paybright-table-new {
  width: 100%;
  border-collapse: collapse !important;
}

.paybright-table-new,
.paybright-table-new td {
  border: 1px solid #979797 !important;
  background-color: white !important;
  padding: 5px !important;
  font-size: 10px;
  color: #575757;
  font-weight: 600;
  text-align: center !important;
}

.paybright-table-new {
  border-radius: 5px;
}

@media only screen and (max-width: 500px) {
  .paybright-class-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    padding-bottom: 20px;
    border: 1px solid #888;
    width: 100%;
    margin-bottom: 150px;
  }

  .pb-right-20 {
    margin-right: 0;
  }

  .pb-left-20 {
    margin-left: 0;
  }

  .paybright-float-left {
    float: none;
  }

  .paybright-float-right {
    float: none;
  }

  #img-quickandeasy {
    height: 100px;
  }

  #img-safeandsecure {
    height: 100px;
  }

  #img-quickandeasy2 {
    height: 100px;
  }

  #img-safeandsecure2 {
    height: 100px;
  }

  .paybright-flex {
    display: block;
  }

  .div-paybright-table {
    width: 80%;
    margin: 0 auto;
  }

  .paybright-flex-p {
    width: 80%;
    margin: 0 auto;
  }

  #check-width {
    width: 300px;
  }

  #check-width2 {
    width: 300px;
  }

  /*#pb-container-fr {
        width: 100%;
        padding: 2px;
        margin: 0 auto;
    }*/
}

@media only screen and (max-width: 430px) {
  #pb-container-fr {
    width: 100%;
    /*padding: 5px;*/
    margin: 0 auto;
  }
}

@media only screen and (max-width: 374px) {
  .pb-p {
    text-align: center;
  }

  #pb-container,
  #pb-container-fr {
    width: 100%;
    padding: 2px;
    margin: 0 auto;
  }

  .pb-column-img,
  .pb-column-img1 {
    margin: 0 auto;
    width: 20%;
    float: none;
    /*width: 33.33%;*/
    padding: 5px;
  }

  .pb-column-text,
  .pb-column-text-fr {
    margin: 0 auto;
    width: 74%;
    float: none;
    /*width: 33.33%;*/
    padding: 5px;
    margin-top: 0;
  }

  .pb-column-text1,
  .pb-column-text1-fr {
    margin: 0 auto;
    width: 74%;
    float: none;
    /*width: 33.33%;*/
    padding: 5px;
    margin-top: 0;
  }
}

.resp-container {
  position: relative;
  overflow: hidden;
  padding-top: 56.25%;
}

.resp-iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

#paybright-learnmore.peloton-color {
  color: #003a61 !important;
  /*color: rgb(255, 51, 71) !important;*/
}

#paybright-learnmore.peloton-color:hover {
  color: rgb(24, 26, 29) !important;
}

.modal-backdrop {
  z-index: -1 !important;
}

#paybright-widget-container > p {
  opacity: 0;
  animation: fadeIn 700ms ease forwards;
  margin-bottom: 0;
  padding-bottom: 1rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
