@import "header.css";
@import "accordian.css";
body {
  padding-top: 60px;
  padding-bottom: 40px;
  margin: 0px;
}
.container {
  width: 85%;
  margin: 0 auto; /* Center the DIV horizontally */
}
.wallpaper {
  width: 100%;
  height: 350px;
}
.wallpaper-text {
  position: relative;
  top: -67px;
  text-align: center;
  font-size: 35px;
  color: white;
}
.tiles {
  display: flex;
  flex-direction: column;
}
.tiles > div {
  display: flex;
  justify-content: space-between;
}
.tiles > div > div {
  width: 300px;
  height: 160px;
  font-size: 25px;
  color: white;
  background-size: 300px 160px;
  margin-bottom: 35px;
  box-shadow: 7px 10px 8px 0px #888888;
  cursor: pointer;
}
.tiles > div > div:hover {
  transform: scale(1.1);
}
.tiles > div > div > div {
  position: relative;
  top: 50%;
  background-color: black;
  opacity: 0.7;
  text-align: center;
  color: white;
  transform: translateY(-50%);
}
.guitar-tile {
  background-image: url("../images/guitar.jpg");
}
.drum-tile {
  background-image: url("../images/drum.jpeg");
}
.band-tile {
  background-image: url("../images/band.jpeg");
}
.piano-tile {
  background-image: url("../images/piano.jpeg");
}
.recording-tile {
  background-image: url("../images/recording.jpeg");
}
.violin-tile {
  background-image: url("../images/violin.jpeg");
}
.dj-tile {
  background-image: url("../images/dj.jpeg");
}
.music-tile {
  background-image: url("../images/music.jpeg");
}
.search {
  background-image: url("../images/search.jpeg");
  width: 100%;
  height: 350px;
  background-size: 100% 350px;
  opacity: 0.5;
}
.search > input {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid rgb(80, 14, 91);
  position: relative;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  background: transparent;
  text-align: center;
}
.search-text {
  position: relative;
  top: 40%;
  text-align: center;
  color: white;
  transform: translateY(-50%);
  font-size: 30px;
}
.about-us {
  display: flex;
  margin-top: 50px;
}
.about-us-header {
  font-size: 35px;
  padding-right: 50px;
  align-self: center;
  text-align: center;
}
.about-us-desc {
  padding-left: 50px;
  font-size: 24px;
  border-left: 2px solid rgb(158, 46, 177);
}
.about-us-img {
  text-align: center;
}
.repairs {
  display: flex;
  margin-top: 50px;
}
.repairs-header {
  font-size: 35px;
  padding-right: 50px;
  align-self: center;
  text-align: center;
}
.repairs-content {
  padding-left: 50px;
  border-left: 2px solid rgb(158, 46, 177);
}
.col,
.row {
  width: 100%;
}

.used-gear {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}
.used-gear > div {
  display: flex;
  justify-content: space-between;
}
.used-gear > div > div {
  width: 300px;
  height: 260px;
  background-size: 300px 260px;
  margin-bottom: 35px;
  box-shadow: 7px 10px 8px 0px #888888;
  cursor: pointer;
  position: relative;
}
.used-gear > div > div > span {
  position: absolute;
  right: -12px;
  top: -12px;
  padding: 20px;
  border-radius: 112px;
  color: white;
  background: purple;
  height: 25px;
  width: 25px;
}
.used-gear > div > div > img {
  width: 100%;
  height: 100%;
}
.used-gear > div > div:hover {
  transform: scale(1.1);
}
.used-gear > div > div > div {
  position: absolute;
  bottom: 0;
  padding: 10px;
  background-color: black;
  color: white;
  width: 100%;
  height: 70px;
  text-align: center;
  box-sizing: border-box;
  opacity: 0.8;
}
.waviy {
  position: relative;
  -webkit-box-reflect: below -10px linear-gradient(transparent, rgba(0, 0, 0, 0.2));
  font-size: 35px;
  margin-top: 70px;
}
.waviy span {
  position: relative;
  display: inline-block;

  animation: waviy 1s infinite;
  animation-delay: calc(0.1s * var(--i));
}
@keyframes waviy {
  0%,
  40%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-5px);
  }
}

.get-in-touch {
  background: rgb(74, 11, 85);
  margin-top: 40px;
  box-sizing: border-box;
  padding-bottom: 40px;
}
.get-in-touch > div {
  padding-top: 40px;
  text-align: center;
  margin-bottom: 40px;
}
.waivy-getin {
  color: white;
}
form {
  position: relative;
  width: 80%;
  margin: 0 auto;
  border-radius: 30px;
  background: #fff;
}
.getin-left,
.getin-right {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  border-radius: 20px;
  background: rgb(74, 11, 85);
}
.getin-left {
  bottom: 60px;
  left: -30px;
}
.getin-right {
  top: 60px;
  right: -30px;
}
.getin-left:before,
.getin-left:after,
.getin-right:before,
.getin-right:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 20px;
  border-radius: 30px;
  background: #fff;
}
.getin-left:before {
  top: -20px;
}
.getin-right:before {
  top: -20px;
  right: 0;
}
.getin-right:after {
  top: 20px;
  right: 10px;
}
.getin-left:after {
  top: 20px;
  left: 10px;
}

.getin-content {
  padding: 40px;
}
.getin-content input,
.getin-content textarea {
  display: block;
  width: 100%;
  border: none;
  border-radius: 20px;
  background: #d0dfe8;
  padding: 15px;
  margin-bottom: 10px;
}
.getin-content textarea {
  resize: none;
}
button {
  width: 100%;
  border-radius: 20px;
  border: none;
  padding: 10px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;

  border-bottom: 4px solid rgb(74, 11, 85);
  background: rgb(74, 11, 85);
}
button:hover {
  background: rgb(79, 21, 90);
}
@media (min-width: 568px) {
  form {
    width: 60%;
  }
}
#used-gear,
#search,
#repairs,
#home,
#about,
#get-in-touch,
#shop-online {
  scroll-margin-top: 100px;
}
.title-style {
  color: white;
  text-decoration: auto;
}
/*shop-details-page style starts here*/

.item1 {
  padding: 325px 25px 25px 25px;
  font-size: 20px;
  font-family: sans-serif;
  color: #fff;
}

.imgg {
  margin: 0 auto;
  max-width: 100%;
  padding: 0px;
}
.imgg-music {
  margin: 0 auto;
  max-width: 100%;
  padding: 0px;
  width: 263px;
  height: 263px;
}
#band-items,
#piano-items,
#recorder-items,
#violin-items,
#dj-items,
#book-items {
  height: 518px;
}

.all-shops-header {
  margin-top: 150px;
  color: brown;
}

.shop-container {
  background-color: #2c3e5033;
  width: 1000px;
  height: 1000px;
  margin: 100px auto;
  display: grid;
  grid-template-rows: repeat(2, 150px);
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-top: 22px;
}

.item_info {
  background: rgb(230, 230, 230) none repeat scroll 0 0;
  display: inline-block;
  font-size: 16px;
  min-height: 140px;
  padding: 30px 5px;
  position: relative;
  width: 96%;
}
.item_info .item-grid-title {
  color: #3e4749;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}
.item_info .item-link-details {
  color: #0097c3;
  text-align: center;
}
.item-link-details {
  font-size: 0.85em;
  line-height: 1.5;
  color: #707070;
}
.item-grid-title,
.item-link-details {
  position: relative;
  margin-bottom: 5px;
}
p {
  margin: 0 0 15px;
}
.home-next {
  padding-right: 890px;
}
.item {
  padding: 25px;
  font-size: 20px;
  font-family: sans-serif;
  color: #fff;
}
.blue_button {
  background: rgb(195, 0, 0) none repeat scroll 0 0;
  bottom: 37px;
  color: #fff;
  display: inline-block;
  font-size: 13px;
  height: 30px;
  left: 0;
  line-height: 30px;
  margin: auto;
  max-width: 115px;
  position: absolute;
  right: 0;
  text-decoration: none;
  width: 100%;
  text-align: center;
}
